:root{
    --background-color: #ffffff;
    --background-color-content: #2980b9;
    --font-color: black;
    --font-style: 'Poppins', sans-serif;
    --btn-content-color: #fe3142;
    --btn-border-color: #f82738;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    text-decoration: none;
    text-transform: uppercase;
}

body{
    display: flex;
    background-color: var(--background-color);
    font-family: var(--font-style);
}

.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 450px;
    height: 90%;
    margin: 20px auto 10px auto;
    background: var(--background-color);
    border: solid 3px var(--font-color);
    border-color: var(--font-color);
    border-radius: 20px;
}

.image img{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 250px;
    height: auto;
    max-height: 250px;
    margin: 15px auto 15px auto;
    border: solid 4px var(--font-color);
    border-color: var(--font-color);
    border-radius: 50%;
    background-size: cover;
}

.linksContent{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}

.linksContent a.link{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 350px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
    padding: 32px;
    background: var(--font-color);
    color: var(--background-color);
    border: solid 4px var(--font-color);
    border-color: var(--font-color);
    border-radius: 40px 10px;
    transition: all .2s;
}

.linksContent a:hover{
    background: var(--background-color);
    color: var(--font-color);
}

.text{
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1.8rem;
}




